@import "./fonts/Inter.css";
@import "tailwindcss";

@theme {
  --spacing: 0.25rem;
  --breakpoint-sm: 360px;
  --breakpoint-2xl: 1400px;

  --font-display: "Inter", "Inter-fallback";
  --font-sans: "Inter", "Inter-fallback";
  --font-body: "Inter", "Inter-fallback";

  --drop-shadow-lg: 0 4px 8px rgb(0 0 0 / 0.23);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -5px
    rgb(0 0 0 / 0.1);

  --color-nexos-text: oklch(0.36 0.01 261.73 / 1); /* #383c43 */
  --color-nexos-gray: oklch(0.97 0.01 253.85 / 1); /* #f3f7fc */
  --color-nexos-gray-text: oklch(0.64 0.01 268.51 / 1); /* #8a8c91 */
  --color-nexos-placeholder: oklch(0.79 0 271.36 / 1); /* #b9babd */
  --color-nexos-light: oklch(1 0 0 / 1); /* #ffffff */
  --color-nexos-border: oklch(0.93 0 286.37 / 1); /* #e8e8e9 */
  --color-nexos-highlight: oklch(0.56 0.24 268.3 / 1); /* #3e5fff */
  --color-nexos-error: oklch(0.577 0.245 27.3); /* #e7000b */
  --color-nexos-hover: oklch(0.68 0.16 267.48 / 1); /* #6b90fa */
  --color-nexos-active: oklch(0.45 0.22 267.56 / 1); /* #243dcc */
  --color-nexos-hover-light: oklch(0.43 0.01 280.15 / 1); /* #4D4E56 */
  --color-nexos-active-light: oklch(0.36 0.01 279.31 / 1); /* #3C3D44 */

  --animate-in: animateIn 0.5s ease-in normal forwards 1;
  --animate-in-fast: animateIn 0.2s ease-in normal forwards 1;

  @keyframes animateIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
