---
import logoSvg from "@/assets/logo.svg";

interface Props {
  class?: string;
}

const { class: className } = Astro.props;
---

<header
  class="flex justify-center items-center shadow-xl py-4 px-7 md:px-16 mb-8 bg-nexos-light"
>
  <div class:list={["flex-1 flex justify-between items-center", className]}>
    <a href="/"
      ><img src={logoSvg.src} alt="Developer logo" width="71" height="32" /></a
    >
    <a
      href="/login"
      class="border rounded-4xl px-6 py-2 text-xs border-nexos-border hover:text-white hover:bg-black transition-colors"
      >Log out</a
    >
  </div>
</header>
